fail_fast: true

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=2"
          - "--no-sort-keys"
        exclude_types: [jupyter]
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ["--fix=lf"]
        description: Forces to replace line ending by the UNIX 'lf' character.
      - id: trailing-whitespace
        exclude: ".bumpversion.cfg"
      - id: check-merge-conflict

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.8
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.15.0"
    hooks:
      - id: mypy
        exclude: |
          (?x)(
            [a-zA-Z0-9]+.pyi$|
            tests/__init__.py$|
            py.typed$
          )
        additional_dependencies: [types-requests==2.28.11.8]

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Check if all files follow the rustfmt style.
        entry: cargo fmt --all -- --check --color always
        language: system
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all -- -D warnings
        language: system
        pass_filenames: false
      - id: cargo-clippy-blas
        name: cargo clippy with blas feature
        entry: cargo clippy --all --features blas -- -D warnings
        language: system
        pass_filenames: false
      - id: cargo-clippy-simd-128
        name: cargo clippy with simd-128 feature
        entry: cargo +nightly clippy --all --features simd-128 -- -D warnings
        language: system
        pass_filenames: false
      - id: cargo-clippy-simd-256
        name: cargo clippy with simd-256 feature
        entry: cargo +nightly clippy --all --features simd-256 -- -D warnings
        language: system
        pass_filenames: false
      - id: cargo-clippy-simd-512
        name: cargo clippy with simd-512 feature
        entry: cargo +nightly clippy --all --features simd-512 -- -D warnings
        language: system
        pass_filenames: false
      - id: cargo-clippy-simd-1024
        name: cargo clippy with simd-1024 feature
        entry: cargo +nightly clippy --all --features simd-1024 -- -D warnings
        language: system
        pass_filenames: false
